/* App.css */
.App {
  width: 1920px;
  height: 1080px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Welcome {
  color: black;
  font-size: 44px;
}

.React {
  color: black;
  font-size: 12px;
}

.Buttons {
  display: flex; /* Use flexbox to align the buttons */
  justify-content: space-around; /* Adjust the space between buttons */
}

.Custom_Button {
  height: 30px;
  width: 140px;
  font-size: 20px; /* Adjust the font size inside the buttons */
  margin: 0px; /* Adjust the space around the buttons */
  align-items: center;
}

.Custom_Button:hover {
  background-color: pink;
}

h1 {
  color: black;
  font-size: 30px;
}

h2 {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 30px;
}

h3{
  margin: 0;
  padding: 20px;
  color: purple;
  font-size: 20px;
}

.Default {
  color: black;
  font-size: 20px;
}

.InputBox {
  width: 200px;
  height: 30px;
  padding: 0px;
  font-weight: bold;
}

.schedule_text{
  position: absolute;
  top: 40px;
  left: 20%;
  right: 40px;
}

.nannyImage{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 20px auto;
}
.HomePage{
  background-color: lightgreen;
}

body{
  background-color: lightblue;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  position: relative;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

/* Tooltip styles */
.button-62:not([disabled])::after {
  content: attr(data-tooltip); /* Use the data-tooltip attribute for the message */
  visibility: hidden;
  opacity: 0;
  width: max-content;
  max-width: 800px; /* Maximum width of the tooltip - adjust as needed */
  background-color: purple;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  bottom: 130%; /* Adjust as needed */
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show tooltip on hover */
.button-62:not([disabled]):hover::after {
  visibility: visible;
  opacity: 1;
}

/* Hide the tooltip when data-tooltip is empty */
.button-62:not([disabled])::after {
  content: attr(data-tooltip);
  /* Other styles */
}

/* This will effectively hide the tooltip when there is no message */
.button-62:not([disabled])[data-tooltip=""]::after,
.button-62:not([disabled])[data-tooltip]::after:empty {
  content: none;
  visibility: hidden;
  opacity: 0;
}

/* Show tooltip on hover only when data-tooltip is not empty */
.button-62:not([disabled]):hover::after:not(:empty) {
  visibility: visible;
  opacity: 1;
}
