.App {
  width: 1920px;
  height: 1080px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Welcome {
  color: black;
  font-size: 44px;
}

.React {
  color: black;
  font-size: 12px;
}

.Buttons {
  display: flex;
  justify-content: space-around;
}

.Buttons {
  display: flex; /* Use flexbox to align the buttons */
  justify-content: space-around; /* Adjust the space between buttons */
}

.Custom_Button {
  height: 30px;
  width: 140px;
  font-size: 20px; /* Adjust the font size inside the buttons */
  margin: 0px; /* Adjust the space around the buttons */
  align-items: center;
}

.Custom_Button:hover {
  background-color: pink;
}

h1 {
  color: black;
  font-size: 30px;
  margin-top: 0px;
}

.Default {
  color: black;
  font-size: 20px;
}

.InputBox {
  width: 200px;
  height: 30px;
  padding: 0px;
  font-weight: bold;
}

.schedule_text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
